<div id="About" class="about">
			<h1>Aquascape</h1>
			<p>
				<strong>
					Our company founded in 2008. The aquascaping hobby did not yet exist in Hungary during this period. As passionate aquarists, we have been
					gathering experience for years, and the new style that had been popular in Japan by then served as an inspiration and endless source.
					Recognizing the market opportunity, we have chosen our mission to make the new trend known and popular with the broadest possible audience
					in Hungary and make all the necessary equipment easily accessible to anyone. This is how Aquascape was born, which has now merged with the
					image of the planted aquarium hobby.</strong
				>
			</p>
			<div class="about-img">
				<div class="labt">
					<img src="public/images/about left.jpg" />
				</div>
				<div class="rabt">
					<img src="public/images/about right.jpg" />
				</div>
			</div>
			<h2>Building a brand</h2>
			<p>
				From the beginning, we focused on the exceptional experience</strong> and not on selling the products. Trade is an important and not
				negligible pillar of our company, but our heart and enthusiasm come to life in the created visual worlds. We have shared and will continue to
				share these special moments with visitors to this day on our various social platforms and in our physical stores.<strong> Aquascape stands for
				quality, exceptional visuals, and expertise.</strong>
			</p>
			<h2>Where are we today?</h2>
			<p>
				With the growing team of experts over the years, we have further strengthened our competence in many areas. In addition to retail, we also
				import and do wholesaler roles for several brands. With the help of our Hungarian logistics base,<strong> we deliver to all of Europe for our
				wholesale partners and private customers as well.</strong>
			</p>
			<p>
				<strong>The Aquascape brand products is preceded by continuous research and development and innovation.</strong> Our motto is to make only products that fill a
				gap and do not compromise on quality. As a pro consultant, we have been actively involved in the product development of several worldwide
				brands in recent years.
			</p>
			<p>Of course, <strong>we also work on individual projects and take an active part in the related operation and maintenance tasks.</strong></p>
			<p>
				Education has played a significant role in our service. We strive to pass on the experience gained over the years and the outstanding results
				achieved in prestigious international competitions in education and counseling. In addition to supporting hobby life, we also take an active
				part in organizing domestic and international competitions. <strong>We produce our own YouTube videos for our continuous media presence.</strong> Our
				international workshops bring visitors and guests from all over the world.
			</p>
			<p>
				<strong>The Aquascape showroom is one of the most beautiful planted aquarium showrooms in Europe.</strong> It also became a favorite travel attraction for
				foreign visitors. Today, our company is the largest in Hungary, dealing exclusively with the distribution of freshwater aquarium products. And
				the name Aquascape has become an international brand known and recognized from Japan to the United States.
			</p>
			<p>
				Thank you for the endless support and trust we have received over the past few years! It helps us and gives us the strength to continue on the
				path we set out on.
			</p>
			<p>
				<strong>
					Our mission is unchanged: introduce and share the passion of this beautiful underwater world with as many people as possible. We believe if
					someone who has known and loved a piece of this aquatic life will protect and concern more about nature as a whole.</strong
				>
			</p>
		</div>