<div id="Contact" class="contact">
	<div class="leftContact">
		<h1>Have any query?</h1>
		<h1>Feel free to contact us!</h1>
		<div class="phone">
			<a href="tel:+9779861338401"><img id="phoneImg" src="public/images/contact/phone.png" alt="phone" height="40px" width="40px" />
				<h2 class="phonenum">+977-9861338401</h2></a>
		</div>
		<div class="address">
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
				<img id="locationImg" src="public/images/contact/location.png" alt="location" height="40px" width="35px" />
				<h2>MidTown Armory 123 Grove St</h2></a>
		</div>
	</div>
	<div class="rightContact">
		<form>
			<label for="fname">Full name:</label><br />
			<input type="text" id="fname" name="fname" /><br />
			<label for="email">E-mail:</label><br />
			<input type="email" id="email" name="email" /><br />
			<label for="message">Your message</label><br />
			<textarea id="message" name="message" rows="10" cols="50"></textarea><br /><br />

			<input id="btn" type="submit" value="Submit" />
		</form>
	</div>
</div>