<div class="footer">
	<div class="aboutUsFooter">
		<ul>
			<li>Aquascape</li>
			<li>About us</li>
			<li>Legal terms</li>
			<li>Privacy policy</li>
		</ul>
	</div>
	<div class="shippingFooter">
		<ul>
			<li>Shipping price</li>
			<li>Return policy</li>
			<li>Warrenty and exchanges</li>
		</ul>
	</div>
	<div class="paymentFooter">
		<ul>
			<li>Payment methods</li>
			<li>Credit card payment</li>
			<li>Discount</li>
			<li>Gift card</li>
		</ul>
	</div>
	<div class="infoFooter"><ul>
			<li>tele phone</li>
			<li>address city</li>
			<li>address country</li>
			<li>open timings</li>
		</ul></div>
</div>