<div class="footer">
	<div class="aboutUsFooter">
		<a href="/const"><h2>Aquascape</h2></a>
		<ul>

			<a href="/const"><li>About us</li></a>
			<a href="/const"><li>Legal terms</li></a>
			<a href="/const"><li>Privacy policy</li></a>
		</ul>
	</div>
	<div class="shippingFooter">
		<a href="/const"><h2>Shipping help</h2></a>
		<ul>
			<a href="/const"><li>Shipping price</li></a>
			<a href="/const"><li>Return policy</li></a>
			<a href="/const"><li>Warrenty and exchanges</li></a>
		</ul>
	</div>
	<div class="paymentFooter">
		<a href="/const"><h2>Payment information</h2></a>
		<ul>
			<a href="/const"><li>Payment methods</li></a>
			<a href="/const"><li>Credit card payment</li></a>
			<a href="/const"><li>Discount</li></a>
			<a href="/const"><li>Gift card</li></a>
		</ul>
	</div>
	<div class="infoFooter">
		<a href="/const"><h2>Green aqua</h2></a>
		<ul>
			<a href="/const"><li>tele phone</li></a>
			<a href="/const"><li>address city</li></a>
			<a href="/const"><li>address country</li></a>
			<a href="/const"><li>open timings</li></a>
		</ul>
	</div>
</div>