<div id="Gallery" class="gallery">
	<h1>Gallery</h1>
	<div class="image-grid">
		<img class="image-grid-col-2" src="public/images/gallery/1.jpg" />
		<img class="image-grid-col-2" src="public/images/gallery/2.jpg" />
		<img src="public/images/gallery/7.jpg" />
		<img src="public/images/gallery/8.jpg" />
		<img class="image-grid-col-2" src="public/images/gallery/3.jpg" />
		<img class="image-grid-col-2" src="public/images/gallery/4.jpg" />
		<img class="image-grid-col-2" src="public/images/gallery/5.jpg" />
		<img class="image-grid-col-2" src="public/images/gallery/6.jpg" />
		<img src="public/images/gallery/9.jpg" />
	</div>
	<button class="gal-btn">View more</button>
</div>