<div id="Home" class="home">
	<div class="warpperHome">
		<div class="text">
			<h1>Discover a new World</h1>
			<h2>An underwater paradise for you</h2>
		</div>
		<div class="lower-text">
			<div class="left">
				<h2>What is aquascape?</h2>
				<p>
					Aquascaping is the craft of arranging aquatic plants, as well as rocks, stones, cavework, or driftwood, in an aesthetically pleasing manner
					within an aquarium—in effect, gardening under water.
				</p>
			</div>

		</div>
	</div>
</div>