<nav id="navbar">
	<ul class="menu">
		<li class="logo">
			<a href="/"><img src="/public/images/logo/logo.png" alt="logo" height="40px" /></a>
		</li>
		<li class="item"><a href="/">Home</a></li>
		<li class="item"><a href="#About">About</a></li>
		<li class="item"><a href="#Shop">Shop</a></li>
		<li class="item"><a href="#Gallery">Gallery</a></li>
		<li class="item"><a href="https://greenaqua.hu/en/blog">Blog</a></li>
		<li class="item"><a href="#Contact">Contact</a></li>

		<li class="toggle"><span class="bars"></span></li>
	</ul>
</nav>