<nav id="navbar">

	<header class="header">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="logo">
					<a href="/"><img src="/public/images/logo/logo.png" alt="logo" height="40px" /></a>

				</div>
				<input type="checkbox" id="nav-check" />
				<label for="nav-check" class="nav-toggler">
					<span></span>
				</label>
				<nav class="nav">
					<ul>
						<li class="item"><a href="/">Home</a></li>
						<li class="item"><a href="/#About">About</a></li>
						<li class="item"><a href="/#Shop">Shop</a></li>
						<li class="item"><a href="/#Gallery">Gallery</a></li>
						<li class="item"><a href="https://www.2hraquarist.com/blogs/freshwater-aquarium-plants-guide">Blog</a></li>
						<li class="item"><a href="/#Contact">Contact</a></li>

					</ul>
				</nav>
			</div>
		</div>
	</header>
</nav>