<div class="shopwrapper" id="Shop">
	<h1>Shop</h1>
	<div class="landingShopGrid">

		<div class="landingShopCard"><a href="/products/1">
			<img
				src="https://i3x7x2h3.stackpathcdn.com/media/catalog/product/cache/a9f5b46441c9caeb48dbb3f5b899a840/c/o/co2_rendszer_reaktor_1.jpg"
				alt="this is an image"
			/>
			<h1>Green Aqua CO2 system with CO2 reactor (16/22 mm)</h1>
			<p>€227.96</p></a>
</a>
</a>
		</div>
		<div class="landingShopCard"><a href="/products/20">
			<img
				src="https://i3x7x2h3.stackpathcdn.com/media/catalog/product/cache/a9f5b46441c9caeb48dbb3f5b899a840/s/o/solar_rgb_2.jpg"
				alt="this is an image"
			/>
			<h1>ADA Solar RGB - LED light 130 W</h1>
			<p>€829.37</p></a>
</a>
</a>
		</div>
		<div class="landingShopCard"><a href="/products/19">
			<img
				src="https://i3x7x2h3.stackpathcdn.com/media/catalog/product/cache/a9f5b46441c9caeb48dbb3f5b899a840/c/h/chihiros-wrgbii-slim-led-4.jpg"
				alt="this is an image"
			/>
			<h1>Chihiros WRGB II SLIM 45 cm LED light (45-60 cm, 35 W, 1800 lm)</h1>
			<p>€144.97</p></a>
</a>
</a>
		</div>
		<div class="landingShopCard"><a href="/products/11">
			<img src="https://i3x7x2h3.stackpathcdn.com/media/catalog/product/cache/a9f5b46441c9caeb48dbb3f5b899a840/9/l/9l.jpg" alt="this is an image" />
			<h1>Tropica Aquarium Soil 9L</h1>
			<p>€37.41</p></a>
</a>
</a>
		</div>

	</div>
	<a href="/products"><button class="shopBtn">View more</button></a>
</div>