<div class="shopwrapper" id="Shop">
	<h1>Shop</h1>
	<div class="landingShopGrid">

		<div class="landingShopCard"><a href="/lighting">
				<img src="https://cdn.shopify.com/s/files/1/0636/5668/9882/files/1111_720x.jpg?v=1659676487" alt="this is an image" />
				<h1>Lighting System</h1></a>
		</div>
		<div class="landingShopCard"><a href="/Substrate">
				<img src="https://www.aquasabi.de/media/image/product/25356/lg/ada-aqua-soil-amazonia-ver2-3-l.jpg" alt="this is an image" />
				<h1>Plant Substrate</h1>
			</a>

		</div>
		<div class="landingShopCard"><a href="/Decor">
				<img
					src="https://www.aquasabi.de/vcdn/images/item/zoom/WQJJcNHCjG/mini-landschaft-seiryu-ryuoh-aufhaertende-steine.jpg"
					alt="this is an image"
				/>
				<h1>Hardscape Material</h1>
			</a>

		</div>
		<div class="landingShopCard"><a href="/Filtration">
				<img src="https://images.esellerpro.com/3164/I/108/06/BioMasterT_Gallery.png" alt="this is an image" />
				<h1>Filtration</h1>
			</a>
		</div>
		<div class="landingShopCard"><a href="/Fertilizer">
				<img
					src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.adana.co.jp%2Fuserfiles%2Felfinder%2F%25E3%2583%258B%25E3%2583%25A5%25E3%2583%25BC%25E3%2582%25B9%25E3%2583%25AA%25E3%2583%25AA%25E3%2583%25BC%25E3%2582%25B9_JP%2F20170210_news.jpg&f=1&nofb=1&ipt=abe915ad80a3a1e3548c01c50c5948f004251a40dbae9538733a2219fd897f07&ipo=images"
					alt="this is an image"
				/>
				<h1>Plant Nutrients</h1>
			</a>
		</div>
		<div class="landingShopCard"><a href="/Plants">
				<img
					src="https://cdn02.plentymarkets.com/9sy8qb9hlwp9/item/images/23621/middle/In-Vitro-Pflanzen-Ebay-IN-VITRO-Varianten1-23621.jpg"
					alt="this is an image"
				/>
				<h1>Plants</h1>
			</a>
		</div>
		<div class="landingShopCard"><a href="/Accessories">
				<img
					src="https://cdn.shopify.com/s/files/1/0636/5668/9882/products/Spiral-Bubble-Counter-chihiros-aquatic-studio-1661134560_540x.jpg?v=1661134561"
					alt="this is an image"
				/>
				<h1>Accesories</h1>
			</a>
		</div>
		<div class="landingShopCard"><a href="/Computers">
				<img
					src="https://i3x7x2h3.stackpathcdn.com/media/catalog/product/cache/9c5baa323285d5880e7c021cbdefd0c6/f/r/front.jpg"
					alt="this is an image"
				/>
				<h1>Aquarium Computers</h1>
			</a>
		</div>

	</div>
	<a href="/products"><button class="shopBtn">View more</button></a>
</div>