<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="icon" type="image/x-icon" href="public/images/logo/fav.png" />
		<title>Aquascape</title>
		<link rel="stylesheet" href="public/css/index.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500&display=swap" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
			crossorigin="anonymous"
		></script>
		<script>
			$(function () { $(".toggle").on("click", function () { if ($(".item").hasClass("active")) { $(".item").removeClass("active"); } else {
			$(".item").addClass("active"); } }); });
		</script>
	</head>
	<body>
{{>navbar}}
{{>home}}
{{>about}}
{{>shop}}
{{>gallery}}
{{>contact}}
{{>footer}}
{{!-- //FIXME: fix css for product page --}}
		<script src="public/js/index.js"></script>
	</body>
</html>