<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Aquascape</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500&display=swap" rel="stylesheet" />
		<style>
			body{ background-color: black; } .display{ display: grid; grid-template-rows: 1fr; place-items: center;height: 80%;width: 90%; margin: 0 auto; }
			h1{ font-family: 'Exo', sans-serif; font-size: 5rem; color: white; } button{ color: white; background-color: black; border: 2px solid white;
			border-radius: 5px; height: 70px;width: 190px; cursor: pointer;} .display{width: 80%; padding: 20px 20px;} @media all and (min-width: 804px) {
			h1{ font-size: 5rem; } button{ font-size: 2rem; } } @media all and (min-width: 468px) { h1{font-size: 3rem;} button{ font-size: 1.5rem; } } h1{
			font-size: 2rem; } button{ font-size: 1rem; }
		</style>
	</head>
	<body>
		<div class="display">
			<h1>Site under construction. Sorry for the inconvinence. &nbsp;&nbsp;(⌣́_⌣̀) </h1>
			<a href="/"><button>Homepage</button></a>
		</div>
	</body>
</html>